<div class="row">
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-info" (click)="send('VOLDOWN');">
      <i class="fa fa-volume-down"></i>
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-info" (click)="send('MUTE');">
      <i class="fa fa-volume-off"></i>
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-info" (click)="send('VOLUP');">
      <i class="fa fa-volume-up"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-secondary" (click)="send('PREVIOUS');">
      <i class="fa fa-backward"></i>
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-secondary" (click)="send('PAUSE');">
      <i class="fa fa-play"></i>
      <i class="fa fa-pause"></i>
    </button>
  </div>
  <div class="col-4">
    <button class="btn btn-block btn-lg btn-secondary" (click)="send('NEXT');">
      <i class="fa fa-forward"></i>
    </button>
  </div>
</div>