<div class="container-fluid">
  <div class="row">
    <div class="col-6 text-left">
      <span *ngIf="websocketService.active && websocketService.receiver" class="badge badge-success">
        <i class="fa fa-check"></i>
        เชื่อมต่อแล้ว
      </span>
      <span *ngIf="websocketService.active && !websocketService.receiver" class="badge badge-light">
        <i class="fa fa-exclamation-circle"></i>
        คอมพิวเตอร์ไม่เชื่อมต่อ
      </span>
      <span *ngIf="!websocketService.active" class="badge badge-danger">
        <i class="fa fa-times"></i>
        ไม่ได้เชื่อมต่อ
      </span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="text-right" *ngIf="statusService.messages.length > 0">
    <a href="javascript:void(0);" (click)="statusService.clear()">
      <i class="fa fa-times"></i>
      ลบข้อความทั้งหมด
    </a>
  </div>
  <div *ngFor="let message of statusService.messages">
    {{message}}
  </div>
</div>