body {
    background-color: #444444;
    color: #ffffff;
}

body, * {
    font-family: Helvetica, Leelawadee, Tahoma;
}

.btn {
    border-radius: 0;
    touch-action: manipulation;
}

a {
    color: #ffffff;
    text-decoration: underline;
}